In [30]:
import torch
from torch import nn
import pandas as pd
import numpy as np

In [31]:
graph_input = '/home/duyongkang/OpenHINE-master/output/embedding/HeteSpaceyWalk/Aminer_apcpa.csv'
data_g = pd.read_table(graph_input,header=None)

In [32]:
data_g

                                                        0
0                                               125574 64
1       a1000410, -0.047010742 -0.01127207 -0.03389261...
2       p1875103, 0.02995107 -0.014640232 0.03744536 -...
3       c10016798, 0.004560482 -0.020806702 0.02339840...
4       p1620241, -0.079635724 0.012887876 -0.06746629...
...                                                   ...
125570  c10046418, -0.0029961853 -0.009829705 0.015622...
125571  p1064215, 0.011798064 -0.0013229302 -0.0153869...
125572  c10037915, -0.0015808861 -0.010972348 0.004180...
125573  p733589, -0.0012735142 -0.0045442763 -0.012570...
125574  c10030666, -0.011840184 -0.0059485785 0.013488...

[125575 rows x 1 columns]

In [33]:
data_g = data_g.drop([0])
data_g.columns = ['vector']
data_g

In [35]:
data_g = pd.DataFrame(data_g.vector.str.split(', ',1).tolist(), columns = ['node','vector'])

In [36]:
data_g

             node                                             vector
0        a1000410  -0.047010742 -0.01127207 -0.03389261 -0.050438...
1        p1875103  0.02995107 -0.014640232 0.03744536 -0.07289062...
2       c10016798  0.004560482 -0.020806702 0.023398407 -0.031048...
3        p1620241  -0.079635724 0.012887876 -0.06746629 -0.077529...
4       c10056052  -0.077318095 0.04209355 -0.07433787 -0.0657544...
...           ...                                                ...
125569  c10046418  -0.0029961853 -0.009829705 0.015622602 -0.0053...
125570   p1064215  0.011798064 -0.0013229302 -0.015386949 -0.0025...
125571  c10037915  -0.0015808861 -0.010972348 0.0041802586 0.0058...
125572    p733589  -0.0012735142 -0.0045442763 -0.012570745 0.012...
125573  c10030666  -0.011840184 -0.0059485785 0.013488022 0.01556...

[125574 rows x 2 columns]

In [37]:
data_g.vector[0]

'-0.047010742 -0.01127207 -0.03389261 -0.050438598 0.06886492 -0.051866565 -0.0077988803 0.025883455 -0.05800998 0.067601256 0.005621222 -0.04138916 0.05200212 0.020195719 0.05152808 0.028397733 0.0042567817 -0.0050190585 0.06263264 0.00040190274 0.00020862278 -0.06722701 -0.011581853 -0.009595957 0.05083349 0.009856005 0.00018376477 -0.0005393986 0.014762743 0.023363804 0.030227732 0.013976644 -0.018289566 -0.048649732 -0.04488058 -0.05403033 -0.043085016 0.009314139 0.01874831 -0.06840615 0.01033716 -0.06311266 -0.0108762365 0.047268067 -0.021560097 -0.07079068 0.07255289 -0.06601108 0.030756338 -0.022177355 -0.0494977 -0.007930858 -0.003986073 -0.03404597 -0.005345234 -0.0016537721 -0.009395459 -0.012697596 -0.06851957 0.017174015 0.05751238 -0.009390576 0.015005932 -0.02215578'

In [38]:
for i in range(len(data_g)):
    list_1 = data_g.vector[i].split(' ')
    list_1 = [float(x) for x in list_1]
    data_g.vector[i] = list_1
    if i%5000 == 0:
        print(i)

0
5000
10000
15000
20000
25000
30000
35000
40000
45000
50000
55000
60000
65000
70000
75000
80000
85000
90000
95000
100000
105000
110000
115000
120000
125000

In [39]:
data_g

             node                                             vector
0        a1000410  [-0.047010742, -0.01127207, -0.03389261, -0.05...
1        p1875103  [0.02995107, -0.014640232, 0.03744536, -0.0728...
2       c10016798  [0.004560482, -0.020806702, 0.023398407, -0.03...
3        p1620241  [-0.079635724, 0.012887876, -0.06746629, -0.07...
4       c10056052  [-0.077318095, 0.04209355, -0.07433787, -0.065...
...           ...                                                ...
125569  c10046418  [-0.0029961853, -0.009829705, 0.015622602, -0....
125570   p1064215  [0.011798064, -0.0013229302, -0.015386949, -0....
125571  c10037915  [-0.0015808861, -0.010972348, 0.0041802586, 0....
125572    p733589  [-0.0012735142, -0.0045442763, -0.012570745, 0...
125573  c10030666  [-0.011840184, -0.0059485785, 0.013488022, 0.0...

[125574 rows x 2 columns]

In [40]:
data_g.to_pickle('/home/duyongkang/test/model/data/HeteSpaceyWalk.pkl')

In [41]:
len(data_g.vector[0])

64